@import "~antd/lib/style/themes/dark.less";

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  background-color: @component-background;
  display: flex;
  flex-direction: column;
  &.desk {
    padding: 16px 32px;
  }
  &.mob {
    padding: 80px 24px 64px;
  }
}

.menu {
  padding-top: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  &Item {
    padding-left: 30px;
  }
}
