@import "~antd/lib/style/themes/dark.less";

.container {
  display: flex;
  align-items: stretch;
  grid-gap: 4px;
}
.todo {
  background-color: @background-color-light;
  padding: 8px 16px;
  border-radius: 4px;
  flex: 1;
  display: flex;
  align-items: center;
  box-shadow: @btn-primary-shadow;
}

.checkbox {
  margin-left: 8px;
  &.checked {
    color: @primary-color;
  }
}

.pomos {
  margin-left: auto;
  border: 1px solid @border-color-split;
  padding: 2px 8px;
  border-radius: 4px;
}

.icons {
  background-color: @background-color-light;
  padding: 0 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  grid-gap: 8px;
  box-shadow: @btn-primary-shadow;
}
