@import "~antd/lib/style/themes/dark.less";

.timer {
  display: flex;
  flex-direction: column;
  padding: 32px 0 16px;
  grid-gap: 16px;
  position: relative;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid @border-color-split;
  &Icon {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  &Btn {
    min-width: 50%;
    max-width: 90%;
  }
}
.specialBtn {
  cursor: pointer;
  user-select: none;
  &.primary {
    color: @primary-color;
  }
}

.btn {
  &Start {
  }
  &Finish {
    background-color: @success-color;
    border-color: @success-color-outline;
    color: @white;
    &:hover {
      background-color: darken(@success-color-hover, 20%);
      border-color: darken(@success-color-outline, 20%);
      color: @white;
    }
    &:focus,
    &:active {
      background-color: darken(@success-color-hover, 15%);
      border-color: darken(@success-color-outline, 15%);
      color: @white;
    }
  }
  &Stop {
  }
  &Error {
  }
}
