@import "~antd/lib/style/themes/dark.less";

.container {
  height: 100%;
}

.info {
  margin-top: 12px;
  padding-top: 12px;
  margin-bottom: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid @border-color-split;
  border-top: 1px solid @border-color-split;
}
