@import "~antd/lib/style/themes/dark.less";
.modal {
  min-width: 45vw;
}

.number {
  display: inline-block;
  height: 30px;
  padding: 0 11px;
  text-align: left;
  background-color: transparent;
  transition: all 0.3s linear;
  border: 1px solid @border-color-split;
}

.alert {
  margin-bottom: 16px;
}

.date {
  display: flex;
  flex-direction: column;
  grid-gap: 12px;
  &Item {
    margin-bottom: 0;
  }
}
